.hero{
    height: 450px;
    text-align: center;
    margin: 8rem 4rem;
    padding: 4rem 8rem;
}

.p{
    font-size: 1.6rem;
}
.h1{
    font-size: 3.2rem;
    font-weight: bold;
}
.h3{
    font-size: 2rem;
    color: var(--color-secondary-white);
    font-weight: 700;
}
.img{
    width: 400px;
    border-radius: var(--border-radius-large);
}