
.footerlink{
    color: var(--color-text-tertiary);
    text-decoration: none;
}


@media ((min-width: 768px) and (max-width: 1024px)) {
    
    .footertext{
        font-size: 1rem;
    }
}

@media (max-width: 480px) {

    .footertext{
        font-size: 0.6rem;
    }
}