
.links{
    display: flex;
    gap: 8rem;
}

.link{
    display: flex;
    font-size: 2.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary-white);
    text-decoration: none;
}

.footerlink{
    color: var(--color-text-tertiary);
    text-decoration: none;
}

.link:hover {
    color: var(--color-primary-white);
    cursor: pointer;
}

@media (max-width: 768px) {
    
    .links{
        gap: 2.8rem;
    }
    .link {
        font-size: 2rem;
    }
    .link:hover {
        color: var(--color-primary-white);
        cursor: pointer;
    }
    .footertext{
        font-size: 1rem;
    }
    .footerlink{
        font-size: 1rem;
    }

}

@media (max-width: 480px) {

    .links{
        gap: 2.4rem;
    }
    .link {
        font-size: 1.5rem;
    }
    .link:hover {
        color: var(--color-primary-white);
        cursor: pointer;
    }
    .footertext{
        font-size: 0.6rem;
    }
    .footerlink{
        font-size: 0.6rem;
    }

}