.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-secondary-white);
    text-decoration: none;

}

.link:hover {
    color: var(--color-primary-white);
    cursor: pointer;
}