:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #FCFCFB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  min-height: 100vh;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EAEBED;
  padding: 0 2rem;
  height: 6rem;
}
.logo{
  width: 4.5rem;
  border-radius: 50%;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin: 0 2rem;
}
.nav-item a{
  text-decoration: none;
}
h3{
  font-size: 1.75rem;
}
.nav-item a h3{
  color: #6e7981;
  transition: font-size 0.4s ease, letter-spacing 0.4s ease;
  transform-origin: center;
  
}
.nav-item a:hover h3{
  color: #030303;
  transform: scale(1.25);
  letter-spacing: 1.25px;
}
.hero-section{
  background-color: #F5F5F5;
}
.about-me-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 16em;
}
.about-me-title, .project-head-title, .contact-title{
  color: #0B0909;
  font-size: 3.5rem;
  margin-bottom: -0.2em;
  text-decoration: underline;
}

.about-me-text{
  color: #0B0909;
}
.about-me-profile{
  padding-left: 4rem;
}
.profile{
  width: 16rem;
  border-radius: 50%;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 16em;
}
.icons{
  padding-left: 2em;
  width: 5.5rem;
}
.project-section{
  padding: 2em 16em;
  background-color: #EAEBED;
}
.projects-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 4rem;
}

.project-head-title{
  color: #0B0909;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}
.project-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 600px;
  margin-bottom: 2rem;
}
.project-image{
  width: 220px;
  height: 240px;
}
.proj-image{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.project-details{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 300px;
}
.project-title{
  font-size: 2.4rem;
}
.project-link-icon{
  font-size: 1.5rem;
}
.project-link-text{
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -1.8px;
}
.project-link a{
  color: #6e7981;
}
.project-link a:hover{
  color: #030303;
}
.contact-section{
  padding: 2em 16em;
  background-color: #F5F5F5;
}
.contact-title-box{
  margin-bottom: 1.5rem;
}
.contact-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}
.contact-box a{
  font-size: 1.8rem;
  color: #434240;
}
.contact-box a:hover{
  color: #07040A;
}
.contact-icon{
  font-size: 2rem;
  margin-right: 10px;
}
.footer-container{
  padding: 2em 16em;
  background-color: #EAEBED;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-icon-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.footer-icon{
  font-size: 2rem;
  color: #434240;
}
.footer-box{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-box p{
  font-size: 0.8rem;
}
.footer-box a{
  color: #6e7981;
}
.footer-box a:hover{
  color: #0B0909;
}
.footer-text{
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -1.8px;
  padding-left: 2px;
  padding-right: 4px;
}
.footer-box-icon{
  font-size: 1.4rem;
}